body {
  background: rgb(238,174,202);
  background: linear-gradient(142deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 20px;
  margin: 0;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  Font-Family: 'Oxygen', Sans-Serif;
  Font-Size: 5 rem;
}
ul.header {
  background: rgb(238,174,202);
  background: linear-gradient(270deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 29%);
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
  Font-Family: 'Noto Serif', Serif;
Font-Size: 16px;
}
.active {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 27%);
}